@import url('https://db.onlinewebfonts.com/c/569773497d938dfd9749337887f5edde?family=RockoUltraFLF');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@500&display=swap');

// Colores principales
$color__primary: #FFFFFF;
$color__secondary: #6d28d9;
$color__text: #27272a;
// Colores oscuros
$color__primary--dark: #27272a;
$color__secondary--dark: #6d28d9;
$color__text--dark: #f5efeff2;

*{
    padding: 0;
    box-sizing: border-box;
}

.font-rocko{
    font-family: RockoUltraFLF;
}

.font-outfit {
    font-family: Outfit, sans-serif;
}

@media only screen and (max-width: 639px){

    *{
        margin: 0;
        box-sizing: border-box;
    }

    body {
        /* background: linear-gradient(to top, rgb(17, 24, 39), rgb(88, 28, 135), rgb(124, 58, 237)); */
        background-color: $color__primary--dark;
        font-family: system-ui;
    }
    /* HEADER */
    header{
        position: fixed;
        width: 100%;
        height: 70px;
        display: flex;
        justify-content: center;
        background-color: $color__primary--dark;
        z-index: 1;

        img{
            margin: auto;
            height: 80px;
        }
    }
    /* MAIN */
    main{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: RockoUltraFLF;
        color:$color__text--dark;
        height: 100vh;

        img{
            height: 340px;
        }
    }

    // .contact-container{
    //     display: flex;
    //     flex-direction: column;
    // }
    // .contact{
    //     display:flex;
    //     padding: 10px;
    //     font-size: large;
    // }

    // .contact p{
    //     margin-left: 10px;
    // }

    // .contact a{
    //     text-decoration: none;
    //     color: $color__text--dark;
    // }

    .container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        max-width: 56rem;
        width: 100%;
        gap: 2rem;
        color: white;
    }

    .card{
        box-shadow: 0 4px 6px -1px $color__secondary;
        border:solid;
        border-color: $color__secondary;
        overflow: hidden;
        border-width: 1px;
        border-radius: 0.75rem;
        max-width: 20rem;

        img{
            width: 320px;
            height: 240px;
        }

        .info{
            padding: 1.25rem;
            border-top-width: 2px;
            gap: 1.25rem;
            display: flex;
            flex-direction: column;
        }

        .texto{
            display:flex;
            flex-direction: column;
            gap: 0.25rem;
        }
    }

    /* NAV */
    .nav-input {
        display: none;
      }
      
    .nav-icon {
        display: inline-block;
        cursor: pointer;
        
        i:last-child {
            display: none; 
        }
    }


    input:checked + .nav-icon i:first-child {
        display: none; 
    }

    input:checked + .nav-icon i:last-child {
        display: inline;
    }
      
    nav {
        bottom: 11%;
        left: 50%;
        transform: translate(-50%, 30%);
        position: fixed;
        background-color: rgba(0, 0, 0, 0.2);
        padding: 20px;
        transition: 0.5s;
        border-radius: 50px;
        overflow: hidden;
        box-shadow: 0 8px 15px $color__secondary--dark;
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 54px;

        input:checked ~ .menu {
            width:13rem;
        }
    }
      
    .menu {
        margin: 0;
        padding: 0;
        width: 0;
        overflow: hidden;
        transition: 0.5s;
        display: flex;
        flex-direction: row;
        align-items: center;

        li{
            list-style: none;
            margin: 0 10px;
            padding: 0px 5px;

            a {
                color: $color__text--dark;
            }
        }
    }

    /* FOOTER */
    footer{
        position:fixed;
        width: 100%;
        bottom: 0;
        text-align: center;

        h1{
            color: rgba(255, 255, 255, 0.144);
            font-size: xx-small;
        }
    }
}